@tailwind base;
@tailwind components;
@tailwind utilities;
@import"https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700;800&display=swap";.m-1 {
    margin: .25rem!important
}

.m-2 {
    margin: .5rem!important
}

.m-3 {
    margin: 1rem!important
}

.m-4 {
    margin: 1.5rem!important
}

.m-5 {
    margin: 3rem!important
}

.m-auto {
    margin: auto!important
}

.mx-0 {
    margin-left: 0!important;
    margin-right: 0!important
}

.mx-1 {
    margin-left: .25rem!important;
    margin-right: .25rem!important
}

.mx-2 {
    margin-left: .5rem!important;
    margin-right: .5rem!important
}

.mx-3 {
    margin-left: 1rem!important;
    margin-right: 1rem!important
}

.mx-4 {
    margin-left: 1.5rem!important;
    margin-right: 1.5rem!important
}

.mx-5 {
    margin-left: 3rem!important;
    margin-right: 3rem!important
}

.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important
}

.my-0 {
    margin-bottom: 0!important;
    margin-top: 0!important
}

.my-1 {
    margin-bottom: .25rem!important;
    margin-top: .25rem!important
}

.my-2 {
    margin-bottom: .5rem!important;
    margin-top: .5rem!important
}

.my-3 {
    margin-bottom: 1rem!important;
    margin-top: 1rem!important
}

.my-4 {
    margin-bottom: 1.5rem!important;
    margin-top: 1.5rem!important
}

.my-5 {
    margin-bottom: 3rem!important;
    margin-top: 3rem!important
}

.my-auto {
    margin-bottom: auto!important;
    margin-top: auto!important
}

.mt-0 {
    margin-top: 0!important
}

.mt-1 {
    margin-top: .25rem!important
}

.mt-2 {
    margin-top: .5rem!important
}

.mt-3 {
    margin-top: 1rem!important
}

.mt-4 {
    margin-top: 1.5rem!important
}

.mt-5 {
    margin-top: 3rem!important
}

.mt-auto {
    margin-top: auto!important
}

.mr-0 {
    margin-right: 0!important
}

.mr-1 {
    margin-right: .25rem!important
}

.mr-2 {
    margin-right: .5rem!important
}

.mr-3 {
    margin-right: 1rem!important
}

.mr-4 {
    margin-right: 1.5rem!important
}

.mr-5 {
    margin-right: 3rem!important
}

.mr-auto {
    margin-right: auto!important
}

.mb-0 {
    margin-bottom: 0!important
}

.mb-1 {
    margin-bottom: .25rem!important
}

.mb-2 {
    margin-bottom: .5rem!important
}

.mb-3 {
    margin-bottom: 1rem!important
}

.mb-4 {
    margin-bottom: 1.5rem!important
}

.mb-5 {
    margin-bottom: 3rem!important
}

.mb-auto {
    margin-bottom: auto!important
}

.ml-0 {
    margin-left: 0!important
}

.ml-1 {
    margin-left: .25rem!important
}

.ml-2 {
    margin-left: .5rem!important
}

.ml-3 {
    margin-left: 1rem!important
}

.ml-4 {
    margin-left: 1.5rem!important
}

.ml-5 {
    margin-left: 3rem!important
}

.ml-auto {
    margin-left: auto!important
}

.p-0 {
    padding: 0!important
}

.p-1 {
    padding: .25rem!important
}

.p-2 {
    padding: .5rem!important
}

.p-3 {
    padding: 1rem!important
}

.p-4 {
    padding: 1.5rem!important
}

.p-5 {
    padding: 3rem!important
}

.px-0 {
    padding-left: 0!important;
    padding-right: 0!important
}

.px-1 {
    padding-left: .25rem!important;
    padding-right: .25rem!important
}

.px-2 {
    padding-left: .5rem!important;
    padding-right: .5rem!important
}

.px-3 {
    padding-left: 1rem!important;
    padding-right: 1rem!important
}

.px-4 {
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important
}

.px-5 {
    padding-left: 3rem!important;
    padding-right: 3rem!important
}

.py-0 {
    padding-bottom: 0!important;
    padding-top: 0!important
}

.py-1 {
    padding-bottom: .25rem!important;
    padding-top: .25rem!important
}

.py-2 {
    padding-bottom: .5rem!important;
    padding-top: .5rem!important
}

.py-3 {
    padding-bottom: 1rem!important;
    padding-top: 1rem!important
}

.py-4 {
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem!important
}

.py-5 {
    padding-bottom: 3rem!important;
    padding-top: 3rem!important
}

.pt-0 {
    padding-top: 0!important
}

.pt-1 {
    padding-top: .25rem!important
}

.pt-2 {
    padding-top: .5rem!important
}

.pt-3 {
    padding-top: 1rem!important
}

.pt-4 {
    padding-top: 1.5rem!important
}

.pt-5 {
    padding-top: 3rem!important
}

.pe-0 {
    padding-right: 0!important
}

.pe-1 {
    padding-right: .25rem!important
}

.pe-2 {
    padding-right: .5rem!important
}

.pe-3 {
    padding-right: 1rem!important
}

.pe-4 {
    padding-right: 1.5rem!important
}

.pe-5 {
    padding-right: 3rem!important
}

.pb-0 {
    padding-bottom: 0!important
}

.pb-1 {
    padding-bottom: .25rem!important
}

.pb-2 {
    padding-bottom: .5rem!important
}

.pb-3 {
    padding-bottom: 1rem!important
}

.pb-4 {
    padding-bottom: 1.5rem!important
}

.pb-5 {
    padding-bottom: 3rem!important
}

.ps-0 {
    padding-left: 0!important
}

.ps-1 {
    padding-left: .25rem!important
}

.ps-2 {
    padding-left: .5rem!important
}

.ps-3 {
    padding-left: 1rem!important
}

.ps-4 {
    padding-left: 1.5rem!important
}

.ps-5 {
    padding-left: 3rem!important
}
@font-face {
    font-family: "MinecraftFont";
    src: url("../../public/fonts/MinecraftFont.ttf") format("ttf");
  }
.FontTitle {
    font-family:"MinecraftFont", sans-serif;
}


@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

:root {
    --c-input-bg: #140c14;
    --c-input-border: #292429;
    --c-input-border-active: #e93d4288;
    --c-input-border-error: #f09892;
    --c-input-label: #c4aeae;
    --c-input-label-active: #e93d42;
    --c-input-label-error: #e7645a;
    --c-bg-light: #272127;
    --c-title: #fff;
    --c-text: #c4aeae;
}

.Nick {
  color: white;
}

.Password {
  color: white;
}
body {
    background: #130907;
    color: #f8fbf9;
    font-family: Catamaran,sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0
}
.head {
    align-items: center;
    display: flex;
    height: 600px;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 3
}

.head-small {
    height: 400px
}

.head .top-bg {
    background-image: url("../../public/test4.jpg");
    background-position: bottom;
    background-size: cover;
    height: 100%;
    opacity: .5;
    top: 0;
    z-index: -1
}

.head .top-bg,.head:after {
    left: 0;
    position: absolute;
    width: 100%
}

.head:after {
    background-image: url("../../public/Vector.png");
    background-position: 50%;
    background-size: auto 100%;
    bottom: 0;
    content: "";
    display: block;
    height: 100px
}
.dark-zone {
    background: #0007;
    padding: 130px 0;
    position: relative;
}

.dark-zone:after,.dark-zone:before {
    background-image: url("../../public/Vector2.png");
    background-position: 50%;
    background-size: auto 100%;
    content: "";
    display: block;
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.dark-zone:after {
    background-image: url("../../public/Vector.png");
    bottom: 0;
    top: auto
}
.page {
    background: var(--c-bg);
    margin-top: 0;
    position: relative;
    z-index: 4;
}

.page .inner {
    padding-bottom: 50px;
    padding-top: 50px;
}

.home-grid {
    align-items: center;
    display: grid;
    gap: 20px;
    grid-template-areas: "title logo";
    grid-template-columns: 1fr 250px;
    text-align: left;
    width: 100%;
}

:is(.page,.head, .Navbar) .inner {
    margin: auto;
    max-width: 1200px;
    padding: 20px 40px;
}
.head .inner {
    filter: drop-shadow(0 0 10px #0009);
}

@media screen and (max-width: 800px) {
:is(.page,.head, .Navbar) .inner {
    padding: 20px;
}
}

@media screen and (max-width: 900px) {
.home-grid {
    grid-template-areas:
        "logo"
        "title";
    grid-template-columns: 1fr;
    text-align: center;
    }
}
@media only screen and (max-width: 900px) {
.home-grid img {
    margin: auto;
    max-width: 120px;
}
}

.home-grid img {
    grid-area: logo;
    image-rendering: pixelated;
    width: 100%;
}

.prihlaska-btn {
    background: var(--c-bg-light);
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px #0005;
    color: var(--c-text);
    cursor: pointer;
    font: inherit;
    margin: 15px 0;
    padding: 10px 20px 7px;
    text-decoration: none!important
}
.prihlaska-error {
    color: var(--c-text);
    font: inherit;
    margin: 15px 0;
    padding: 10px 20px 7px;
    text-decoration: none!important
}

.Navbar .inner {
    display: grid;
    gap: 20px;
    grid-template-areas: "logo litems ritems";
    grid-template-columns: max-content 1fr max-content;
    padding-bottom: 18px;
    padding-top: 18px;
    position: relative;
}

.Navbar .logo {
    display: flex;
    grid-area: logo;
}

.Navbar .items {
    display: flex;
    font-size: 112%;
    font-weight: 700;
    gap: 20px;
    grid-area: litems;
    height: 45px;
    line-height: 49px;
}

.Navbar .items .ritems {
    grid-area: ritems;
}

.account {
    background: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
    display: inline-flex;
    height: 45px;
    line-height: 49px;
}

.account .nick {
    font-size: 90%;
    margin: 0 12px 0 4px;
}
.account img {
    border-radius: 50%;
    height: 35px;
    margin: 5px
}


.inp :is(input,textarea) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--c-input-bg);
    border: 2px solid var(--c-input-border);
    border-radius: 0.375rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px #0000000d;
    color: var(--c-input);
    display: block;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    min-height: 50px;
    padding: 2px 12px 0;
    transition: border-color .15s ease;
    width: 100%;
}

.inp label {
    background: var(--c-input-bg);
    border-radius: 10px;
    color: var(--c-input-label);
    font-size: 1.1rem;
    font-weight: 700;
    left: 7px;
    line-height: 1;
    padding: 0 6px;
    pointer-events: none;
    position: absolute;
    top: 17px;
    transform: translateZ(0);
    transform-origin: 0 0;
    transition: all .2s ease;
}

.inp {
    margin: 15px 0;
    max-width: 300px;
    position: relative;
    width: 100%;
}

.inp.fwidth {
    max-width: 100%;
}

.inp textarea {
    height: 100px;
    margin-bottom: 0!important;
    max-width: 100%;
    padding: 10px 12px
}

.inp :is(:is(input,textarea):not(:placeholder-shown)+label,:is(input,textarea):not(:-ms-input-placeholder)+label,:is(input,textarea):not(:-moz-placeholder-shown)+label) {
    color: var(--c-input-label);
    transform: translate3d(0,-23px,0) scale(.9)
}

.inp :is(input,textarea):focus {
    border-color: var(--c-input-border-active);
    outline: none
}

.inp :is(input,textarea):focus+label {
    color: var(--c-input-label-active);
    transform: translate3d(0,-23px,0) scale(.9)
}

.inp.inp-error :is(input,textarea) {
    border-color: var(--c-input-border-error)
}

.inp.inp-error label {
    color: var(--c-input-label-error)!important
}

.inp .error-text {
    color: var(--c-input-label-error)
}

.inp .error-text,.input-info {
    font-size: 17px;
    margin-top: 5px;
    text-align: left
}

.text-gradient {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(-50deg,#ee4c3c,#e1254d);
    -webkit-background-clip: text
}

.text-blob {
    margin: 20px auto;
    max-width: 650px;
    font-family: Catamaran,sans-serif;
    color: var(--c-title)
}



.prihlaska-kkt {
    -webkit-backdrop-filter: blur(10px);
    background: transparent;
    border: 1px solid #fff5;
    border-radius: 5px;
    color: var(--c-title);
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: 20px;
    padding: 11px 15px 7px;
    transition: all .2s
}

.wiki-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr
}

.wiki-grid>* {
    background: var(--c-bg-light);
    border-radius: 5px;
    box-shadow: 0 0 10px #0005;
    color: var(--c-text);
    padding: 16px 20px 12px;
    text-decoration: none!important
}

.wiki-grid .title {
    color: var(--c-title);
    font-size: 23px;
    font-weight: 700
}


.desc {
    color: var(--c-text);
}









#root{
    height: 100vh;
    width: 100vw;
}

.mainHeader{
    text-align: center;
    font-family: 'Minecraft', sans-serif;
    font-size: 50px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-top: 0;
    margin-bottom: 1;
    /* border: 5px solid #00AA00; */
}

.header{
    text-align: center;
    font-family: 'Minecraft', sans-serif;
    font-size: 35px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    background-color: #00AA00;
    border: none;
}



.emptyCraftingTable{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.itemSlot{
    background: #8B8B8B no-repeat center center / 128px 128px;
    border: 2px solid;
    border-color: #373737 #FFF #FFF #373737;
    width: 45px;
    height: 45px;
    margin: 10px;
}


.centerCraftingTableBasic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -442px;
}

.centerItemsBasic{
    position: relative;
    display: block;
    margin: -2px;
    padding: 2px;
    width: 260px;
    height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerCraftingTableTools{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -377px;
}

.centerItemsTools{
    position: relative;
    display: block;
    margin: -2px;
    padding: 2px;
    width: 340px;
    height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerCraftingTableBlocks{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -507px;
}

.centerItemsBlocks{
    position: relative;
    display: block;
    margin: -2px;
    padding: 2px;
    width: 1024px;
    height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerCraftingTableOther{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -442px;
}

.centerItemsOther{
    position: relative;
    display: block;
    margin: -2px;
    padding: 2px;
    width: 1024px;
    height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerCraftingTableDefence{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -442px;
}

.centerItemsDefence{
    position: relative;
    display: block;
    margin: -2px;
    padding: 2px;
    width: 260px;
    height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerCraftingTableBrewing{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -377px;
}

.centerItemsBrewing{
    position: relative;
    display: block;
    margin: -2px;
    padding: 2px;
    width: 256px;
    height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerCraftingTableFood{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -442px;
}

.centerItemsFood{
    position: relative;
    display: block;
    margin: -2px;
    padding: 2px;
    width: 260px;
    height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerCraftingTableMechanism{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -507px;
}

.centerItemsMechanism{
    position: relative;
    display: block;
    margin: -2px;
    padding: 2px;
    width: 512px;
    height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerCraftingTableDyes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -442px;
}

.centerItemsDyes{
    position: relative;
    display: block;
    margin: -2px;
    padding: 2px;
    width: 260px;
    height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerCraftingTableWool{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -442px;
}

.centerItemsWool{
    position: relative;
    display: block;
    margin: -2px;
    padding: 2px;
    width: 260px;
    height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.craftingBGColor{
    background-color: #c6c6c6;
    height: 50%;
}

.pointerCursor{
    cursor: pointer;
}

/* .big:hover{
    width: 50px;
    height: 50px;
} */

.buttons{
    text-align: center;
    font-family: 'Minecraft', sans-serif;
    -webkit-text-stroke-width: 1px;
    background-color: #00AA00;
    height: 60px;
    margin: 5px;

}

.clenoviabg {
    background: #272127;
}

.clenoviadisc {
    color: #c4aeae;
}


.headerbg {
    background-color:#181218;

}
.headerShadow {
    box-shadow: inset 0 -6px #050505;
    padding-bottom: 6px
}

.page {
    background: var(--c-bg);
    margin-top: 0;
    position: relative;
    z-index: 4;
}

strong {
    color: var(--c-title)
}

.rules ul {
    margin-top: 5px
}

.rules li {
    margin: 3px 0
}
.ul-centered {
    margin: auto;
    max-width: 450px;
    text-align: left
}

li {
    color: var(--c-text);
    font-family: Catamaran,sans-serif;
    font-size: 20px;
    line-height: 1.5;
}


.invite {
    color: var(--c-text);
}


.text-blob {
    margin: 20px auto;
    max-width: 650px;
}


.ul-centered {
    margin: auto;
    max-width: 450px;
    text-align: left;
}


@media screen and (max-width: 800px) {
    body {
        font-size:18px
    }
    li {
        font-size: 16.5px;
    }
}